@font-face {
    font-family: "iran-yekan";
    src: 
         url("/keygen/iranyekanwebregularfanum.woff") format("woff");
}

body {
    font-family: "iran-yekan", sans-serif;
    background-color: #blue;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.container {
    background: #2E236C;;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    color:#fff;
}

h1 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.game-option {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s;
}

.game-option img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.game-option p {
    font-weight: 500;
    color: #fff;
}

.game-option:hover, .game-option.selected {
    transform: scale(1.05);
    border-color: #564db0;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    text-align: center;
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #fff;
    padding-top: 20px;
}

.key-slider {
    display: flex;
    align-items: center;
    gap: 10px;
}

.key-slider input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    transition: background 0.3s;
}

.key-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:  #564db0;
    cursor: pointer;
    transition: background 0.3s;
}

.key-slider input[type="range"]:hover::-webkit-slider-thumb {
    background:  #433D8B;
}

#keyValue {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

button {
    background-color: #433D8B;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;
    font-family: 'iran-yekan';
}

button:hover {
    background-color: #564db0;
}

.hidden {
    display: none;
}

.progress-bar {
    background-color: #17153B;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 25px;
    height: 35px;
    position: relative;
}

.progress-bar div {
    height: 100%;
    background-color: #564db0;
    width: 0;
    transition: width 0.5s;
}

#progressText {
    margin-top: 15px;
    font-weight: 600;
}

.key-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.key-item input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 12px;
}

.copyKeyBtn {
    background-color: #28a745;
    border: none;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copyKeyBtn:hover {
    background-color: #218838;
}

.footer {
    margin-top: 25px;
    font-size: 14px;
    color: #aba3a3;
}

#copyStatus {
    margin-top: 15px;
    color: green;
    }
